@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Montserrat:wght@300;600;700;800;900&display=swap');

.header-background-color{
    background-color: #03323C !important;
}
.navbar-title{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 800 !important;
}
.nav-link{
    color: white !important;
    font-weight: 600 !important;
    transition-duration: 1s !important;
}
.nav-link:hover{
    text-decoration: underline white !important;
    text-underline-offset: 4px !important;
}
.title-styling{
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 600 !important;
    color: white;    
}
.btn{
    box-shadow: none !important;
}
.auto-input{
    color:white;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 300;
}
.discover-button{
    background-color: orangered !important;
    color: white !important;
}
.discover-button:hover{
    background-color: #03323C !important;
    border:3px solid orangered;
    color: orangered !important;
}
.discover-button:focus{
    outline: none !important;
}

.register-button{
    background-color: rgb(81, 74, 94) !important;
    border: 2px solid orangered !important;
    color: orangered !important;
}
.register-button:hover{
    background-color: orangered !important;
    color: white !important;
}
.register-button:focus{
    outline: none !important;
}



.register-button-reviewer{
    background-color: palegoldenrod !important;
    border: 2px solid orangered !important;
    color: orangered !important; 
}
.register-button-reviewer:hover{
    background-color: orangered !important;
    color: white !important;
}
.register-button-reviewer:focus{
    outline: none !important;
}






.button-modified{
    box-shadow: none !important;
}
::selection{
    background-color: rgb(255, 109, 56) !important;
}
.card-styling{
    border-radius: 30px !important;
    background-color: palegoldenrod !important;
}
.review-card{
    border-radius: 20px !important;
}
.card-color{
    border-radius: 40px !important;
}